/Automobile.class
/Automobile2.class
/Automobile3.class
/Bicycle.class
/BicycleArray.class
/ObjectArray.class
/RegistrationTest.class
/RegistrationTest2.class
/Truck.class
/Truck2.class
/Truck3.class
/Truck4.class
/Vehicle.class
/Vehicle2.class
/VehicleArray.class
/VehicleTest.class
/VehicleTest2.class
/VehicleTest3.class
/VehicleTest4.class
