/BMI4.class
/GradeIf.class
/GradeSwitch.class
/MinMax.class
/MinMaxFor.class
/MinMaxForEach.class
/MinMaxPrompt.class
/MonthIf.class
/MonthSwitch.class
/Reverse.class
/StateCapital.class
/StateCapital2.class
